*{
    margin: 0;
    padding: 0;
}
.jcb1{
    margin-top:-100px;
    filter:brightness(60%);
    overflow: hidden;
    
}


    
.we{
    position: absolute;
    margin-top: -480px;
    margin-left:630px;
    font-size: 22px;
    color:#FFD523;
    font-weight:bold;
    
   
}
.big{
    position: absolute;
    font-size:50px;
    margin-left:490px ;
    margin-top: -450px;
    color: white;
}
.para{
    position: absolute;
    margin-left:190px;
    margin-top:-300px;
    color: white;
    font-size: 17px;
}
.button1{
    position: absolute;
    width: 110px;
    height:40px;
    background-color:#FFD523;
    border-style: none;
    margin-left:420px;
    margin-top: -210px;
}
.button2{
    position: absolute;
    width:125px;
    height:40px;
    background-color:white;
    border-style: none;
    margin-left:800px;
    margin-top: -150px;
    font-weight: bold;
}
.time{
    width:100%;
    height:180px;
    background-color:#FFD523 ;
}
.have{
    font-size: 20px;
    margin-top: -150px;
    position: absolute;
    margin-left:310px;
}
.any1{
    font-size:30px;
    margin-top: -110px;
    position: absolute;
    margin-left: 310px;
}
.any2{
    font-size:30px;
    margin-top: -80px;
    position: absolute;
    margin-left: 310px;
}
.button3{
    width:160px;
    height:40px;
    border:none;
    position:absolute;
    background-color:black;
    margin-top:-110px;
    margin-left:600px;
    color:white ;
    font-weight: bold;
}
.button4{
    width:125px;
    height:40px;
    border: 2px solid black;
    position: absolute;
    background-color:#FFD523;
    margin-top:-110px;
    margin-left:800px;
    font-weight: bold;
}

.main1{
    
    display:flex;
    padding-left:230px;
    padding-top:80px;
    
}
.main1 div h3{
    margin-left:20px;
    margin-top: 10px;
}

.main1 div a{
    text-decoration: none;
}
.main2{
    
    display:flex;
    padding-left:230px;
    padding-top:80px;
    
}
.main2 div h3{
    margin-left:20px;
    margin-top: 10px;
    font-weight: bold;
}

.main2 div a{
    text-decoration: none;
}

.total{
    margin-top: 50px;
    padding-top:50px;
    background-color:#F2F2F2;
    

}
.main3{
    display: flex;
    margin-left:250px;
    margin-top:50px;
}
.our{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.all{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:10px;
}
.story{
    font-size: 60px;
    
}
.line1{
    width:450px;
    
    
}
 .total div p{
    margin-top:20px;
    margin-bottom: 20px;
}

.line3{
    width:200px;

}
.total2{
    width:100%;
    height:530px;
    background-image: url(images/darken.png);
    text-align:center;
    
}



.great{
    padding-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.main4{
    display: flex;
    padding-top:170px;
    padding-left:200px;
    margin-top: -100px;
    
}  
.main4 div img{
    margin-left:15px;
    
   
}
.baar{
    width:100%;
    height: 250px;
    background-color:#F2F2F2;
}
.baar div{
    padding-top:85px;
    margin-left:200px;
    
    
}


@media(min-device-width:320px) and (max-device-width:480px){

    .jcb1 > img{
        width:100%;
        height:70%;
        
    }

    .we{
        font-size:50px;
        margin-left: 150px;
        box-sizing: border-box;
        
             
    }
    .big{
        font-size: 50px;
        margin-left: 200px;
        padding-top:50px;
    }
    .para{
        margin-top:-250px;
        margin-left:-200px;
      
    }
    .button1{
        margin-top:-150px;
        margin-left: 200px;
        width: 200px;
        height: 60px;
        font-size: 30px;
        padding: 10px;

    }
    .button2{
        margin-left: 500px;
        margin-top:-90px;
        width: 350px;
        height: 60px;
        font-size: 30px;
        padding: 10px;

        }
    .time{
        width: 100%;
        height: 50%;
    }
    .have{
        font-size:40px;
        margin-top: -700px;
        margin-left: 150px;
    }
    .any1{
        font-size: 50px;
        margin-left: 150px;
        margin-top: -600px;
        width:700px;
        
    }
    .button3{
        margin-left: 0;
        margin-top:170;
        width: 350px;
        height: 60px;
        font-size: 30px;
        padding: 10px;
    }
    .button4{
        margin-left: 0;
        margin-top: 300px;
        width: 300px;
        height:60px;
        font-size:30px;
        padding: 10px;
    }
    .main1{
        display: block;
    }
    
    .door > img{
        width: 100%;
        height: 40%;
        margin-left:0px;
        
    }
    .door{
        margin-left: -200px;
    }
    .chimni{
        margin-left: -200px;
    }
    .hammer{
        margin-left: -200px;
    }
    .weld{
        margin-left: -200px;
    }
    .tractor{
        margin-left: -200px;
    }
    .diesel{
        margin-left: -200px;
    }
 
    
    .chimni > img{
        width: 100%;
        height: 40%;
        margin-left:0px;
        margin-top:100px;
        
    }
    .hammer > img{
        width: 100%;
        height: 40%;
        margin-left:0px;
        margin-top: 100px;
        
    }
    .main2{
        display: block;
        text-align:left;
    }
    .weld > img{
        width: 100%;
        height: 40%;
        margin-left:0px
        margin-top: 100px;
    }
    .tractor > img{
        width: 100%;
        height: 40%;
        margin-left:0px;
        margin-top: 100px;
    }
    .diesel > img{
        width: 100%;
        height: 40%;
        margin-left:0px;
        margin-top: 100px;
    }
    .main3{
        display: block;
    }
    .our > p{
        text-align: center;
        padding: 20px;
        font-size:15px;
    }
    .line1{
        font-size:40px;
       
    }
    .line2 > img{
        width:600px;
        height:1000px;
        margin-top:100px;
        margin-left:-100px;
    }
    .line3{
        font-size: 40px;
        width: 600px;
        margin-top: 100px;
    }
    .total2{
        width: 100%;
        height:210%;
        background-size: 100% 100%;
    }
    .main4{
        display: block;
    }
    .great{
        font-size: 40px;
        margin-top:200px;
    }
    .main4 > div > img{
        width: 700px;
        height:700px;
        margin-top:70px;
        margin-left:-200px;
    }
    .baar > div > img{
        display: block;
        margin-left:100px;
        width: 400px;
        height: 200px;
        margin-top: 130PX;
        
    }
    .baar{
        width: 100%;
        height: 0;
     
    }






